h1 {
    text-align: center;
}

#postToAPI {
    background-color:lightgreen;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}

ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

ul li {
    padding: 5px;
    font-size: 1.5rem;
}

img {
    width: 45%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

@media only screen and (min-width: 768px) {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}